@inherits LayoutComponentBase

<PageTitle>Trademark2024</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <div class="col-1 justify-content-end d-flex">
                    <img class="d-inline-block align-text-top img-ipophl-logo"
                         src="ipophl-logo.png"
                         alt="IPOPHL Logo"
                         loading="lazy" />
                </div>
                <div class="col-6">
                    <div class="nav-bar2">Republic of the Philippines</div>
                    <div class="fw-bold nav-bar2">Intellectual Property Office of the Philippines</div>
                    <hr class="nav-bar-small-line" />
                    <div class="fw-bold nav-bar1">Bureau of Trademark</div>
                </div>
                <div class="col-5 text-end">
                    <div class="nav-bar3">Intellectual Property Center</div>
                    <div class="nav-bar3">#28 Upper McKinley Rd., Fort Bonifacio</div>
                    <div class="nav-bar3">Taguig City 1634 PH</div>
                    <div class="nav-bar3"> +63 (2) 7238-6300 | ask@ipophil.gov.ph</div>
                </div>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
