@page "/view"
@using Trademark2024.Data
@using Trademark2024.Services
@using Trademark2024.Shared.Enum
@using Trademark2024.Interface

@inject AppDbContext dbContext
@inject HttpClient Http
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms
@using System.Collections.Generic
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Inputs
@using System.ComponentModel.DataAnnotations
@using System.Threading.Tasks
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.SplitButtons
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Grids


@inject AppDbContext _dbContext
@inject NavigationManager NavigationManager
@inject ITrademarkInformationRepository _trademarkInformationRepository
@inject IApplicantInformationRepository _applicantInformationRepository
@inject IClaimConventionPropertyRepository _claimconventionproperty
@inject IResidentAgentInformationRepository _residentagentinformation

@inject ICountriesRepository _countriesrepository
@inject IStatesRepository _statesrepository
@inject ICitiesRepository _citiesrepository
@inject INationalitiesRepository _nationalityrepository

@inject IGoodsServicesInformationRepository _goodsservicesrepository
@inject IGoodsClassRepository _goodsclassrepository
@inject IServicesClassRepository _servicesclassrepository

@inject IJSRuntime jsRuntime
@inject NavigationManager NavigationManager

<div class="row pt-2">
</div>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@trademarkinformation" AllowPaging="true" >
                <GridColumns>
                    <Syncfusion.Blazor.Grids.GridColumn Field=@nameof(TrademarkInformation.TrademarkinformationID) HeaderText="Trademark No." TextAlign="TextAlign.Left"  Width="120"></Syncfusion.Blazor.Grids.GridColumn>
                    <Syncfusion.Blazor.Grids.GridColumn Field=@nameof(TrademarkInformation.Title) HeaderText="Mark Title" Width="150"></Syncfusion.Blazor.Grids.GridColumn>
                    <Syncfusion.Blazor.Grids.GridColumn Field=@nameof(TrademarkInformation.MarkType) HeaderText="Mark Type" Format="d" TextAlign="TextAlign.Left" Width="130"></Syncfusion.Blazor.Grids.GridColumn>
                    <Syncfusion.Blazor.Grids.GridColumn Field=@nameof(TrademarkInformation.ClaimColors) Format="Claims of Colors" TextAlign="TextAlign.Left" Width="120"></Syncfusion.Blazor.Grids.GridColumn>
                    <Syncfusion.Blazor.Grids.GridColumn Field=@nameof(TrademarkInformation.Disclaimer) HeaderText="Disclaimer" Width="150"></Syncfusion.Blazor.Grids.GridColumn>
                    <Syncfusion.Blazor.Grids.GridColumn Field=@nameof(TrademarkInformation.TranslationTransliteration) HeaderText="Translation/Transliteration" Width="150"></Syncfusion.Blazor.Grids.GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
        
    </div>
</div>

@code{
    private List<TrademarkInformation> trademarkinformation;
    private void RetrievedTrademarkInformation()
    {
        trademarkinformation = _trademarkInformationRepository.GetTrademarkInformation();
    }
    private List<ClaimConventionProperty> claimconventionproperties;
    private void RetrievedCCP()
    {
        claimconventionproperties = _claimconventionproperty.GetClaimConventionProperties();
    }
    private List<ApplicantInformation> applicantinformation;
    private void RetrievedApplicantInformation()
    {
        applicantinformation = _applicantInformationRepository.GetApplicantInformation();
    }
    private List<ResidentAgentInformation> residentAgentInformation;
    private void RetrievedAgentInformation()
    {
        residentAgentInformation = _residentagentinformation.GetAgentInformation();
    }
    private List<GoodsServicesInformation> goodsServicesInformation;
    private void RetrievedGoodsServicesInformation()
    {
        goodsServicesInformation = _goodsservicesrepository.GetGoodsServicesInformation();
    }


    protected override void OnInitialized()
    {
        RetrievedTrademarkInformation();
        //RetrievedCCP();
        //RetrievedGoodsServicesInformation();
        //RetrievedApplicantInformation();
        //RetrievedAgentInformation();
    }
}